# dependencies
node_modules/
web/node_modules/
worker/node_modules/

# local env
.env

# build outputs
.next/
dist/
web/.next/
worker/dist/

# databases
redis_data/
influxdb_data/

# logs
npm-debug.log
yarn-error.log

# macOS
.DS_Store
